body {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
  color: #142d4c;
}

.app-wrapper {
  max-width: 800px;
  margin: 30px auto;
  border: 0.6px solid #403f48;
  border-radius: 10px;
  padding: 20px;
  background: #9fd3c6;
}
.city-form {
  border: 1px solid #37516f;
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
  border-radius: 20px;
  font-size: 15px;
  font-weight: 200;
  position: relative;
  padding: 0 10px 0 10px;
}
.cities-list li {
  list-style: none;
  display: inline;
  font-size: 15px;
  font-weight: 200;
  padding-right: 20px;
}
.cities-list {
  padding-left: 0;
}
.city {
  text-decoration: none;
  color: #142d4c;
  cursor: default;
}

.city:hover {
  color: #142d4c;
  font-weight: 300;
}
.displayed-city {
  font-size: 50px;
  font-weight: 500;
  margin-top: 15px;
}
.displayed-date li {
  list-style: none;
}
.displayed-date {
  font-size: 13px;
  opacity: 0.8;
  line-height: 1.3;
  padding-left: 0;
  margin-bottom: 30px;
  font-weight: 300;
}
.displayed-date li:first-letter {
  text-transform: capitalize;
}
.displayed-temperature {
  font-size: 50px;
  font-weight: 500;
  margin-top: 15px;
}
.units {
  font-size: 18px;
  opacity: 0.8;
  line-height: 1;
  margin-bottom: 30px;
  text-decoration: none;
}
.unit-style {
  text-decoration: none;
}
.displayed-icon {
  font-size: 100px;
  margin-top: -24px;
}
.displayed-weather-specification li {
  list-style: none;
}
.displayed-weather-specification {
  font-size: 13px;
  opacity: 0.8;
  font-weight: 300;
}

.footer {
  font-size: 13px;
  margin: 0 auto;
  text-align: center;
  opacity: 0.8;
}

.displayed-temperature .active {
  color: #142d4c;
  cursor: default;
}
